Repository boostcamp-2020/IssueTracker-35, pull requests merged in 2020-11, with the labels that each got.

#13 api 리팩토링
  README.md
  client/package.json
  client/src/api/index.js
  client/src/api/user.js
  client/src/auth/github.js
  client/src/auth/login.js
  client/src/const/url.js
  client/src/utlis/error.js
  client/webpack.common.js
  server/package-lock.json
  server/package.json
Labels: 🌅 FE, 📄 DOCS

#15 Styled-Comoponent로 login 리팩토링 작업
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/App.scss
  client/src/auth/login.js
  client/src/auth/login.scss
  client/src/index.js
  client/src/styles/colors.js
  client/src/styles/styled.js
  client/src/styles/svgs/logo.js
Labels: ⚛️ REACT, 🌅 FE

#22 user 테스트 작성 및 service 구현
  server/main/app.js
  server/main/bin/www
  server/main/controllers/user.js
  server/main/loaders/errorHandler.js
  server/main/loaders/express.js
  server/main/loaders/index.js
  server/main/loaders/sequelize.js
  server/main/models/index.js
  server/main/models/issue.js
  server/main/passport/customStrategy.js
  server/main/passport/index.js
  server/main/routes/index.js
  server/main/routes/users.js
  server/main/services/issue.js
  server/main/services/user.js
  server/main/utils/auth.js
  server/package-lock.json
  server/package.json
  server/test/api/user.api.test.js
  server/test/initTest.js
  server/test/seeds/index.js
  server/test/seeds/issue.js
  server/test/seeds/user.js
  server/test/services/issue.test.js
  server/test/services/user.test.js
Labels: 🕹 API, 🛢 BE

#23 [#18] issue 목록 화면 및 사이드 바 UI 구현, 현재 user 조회 api 추가
  client/.prettierrc
  client/src/App.js
  client/src/api/user.js
  client/src/auth/index.js
  client/src/components/header.js
  client/src/components/issue/input.js
  client/src/components/issue/item.js
  client/src/components/label/index.js
  client/src/components/login/github.js
  client/src/components/sideBar.js
  client/src/components/sideBarItem.js
  client/src/containers/issue/detail.js
  client/src/containers/issue/filter.js
  client/src/containers/issue/list.js
  client/src/containers/issue/write.js
  client/src/containers/login/index.js
  client/src/store/index.js
  client/src/store/issue/actions.js
  client/src/store/issue/index.js
  client/src/store/issue/reducer.js
  client/src/store/user/actions.js
  client/src/store/user/index.js
  client/src/store/user/reducer.js
  client/src/styles/colors.js
  client/src/styles/sizes.js
  client/src/styles/svgs/cogwheel.js
  client/src/styles/svgs/comment.js
  client/src/styles/svgs/issue.js
  client/src/styles/svgs/logo.js
  client/src/utils/timestamp.js
  client/src/utlis/error.js
  server/.prettierrc
  server/main/controllers/user.js
  server/main/passport/authStrategy.js
  server/main/passport/customStrategy.js
  server/main/passport/index.js
  server/main/routes/users.js
  server/main/services/issue.js
  server/main/services/user.js
  server/main/utils/auth.js
  server/main/utils/middleware.js
  server/package-lock.json
  server/package.json
  server/test/api/user.api.test.js
  server/test/initTest.js
  server/test/seeds/assignment.js
  server/test/seeds/comment.js
  server/test/seeds/index.js
  server/test/seeds/issue.js
  server/test/seeds/user.js
  server/test/services/issue.test.js
  server/test/services/user.test.js
Labels: ⚛️ REACT, 🌅 FE, 🕹 API, 🛢 BE

#25 이슈 목록 화면, 이슈 작성 화면 구현
  client/.eslintrc.js
  client/src/App.js
  client/src/api/index.js
  client/src/components/issue/input.js
  client/src/components/issue/item.js
  client/src/components/issue/sidebarItem.js
  client/src/components/sideBar.js
  client/src/const/url.js
  client/src/containers/issue/list.js
  client/src/containers/issue/sidebar.js
  client/src/containers/issue/write.js
  client/src/store/comment/actions.js
  client/src/store/comment/index.js
  client/src/store/comment/reducer.js
  client/src/store/issue/actions.js
  client/src/store/issue/index.js
  client/src/store/issue/reducer.js
  client/src/store/user/index.js
  client/src/styles/styled.js
Labels: ⚛️ REACT, 🌅 FE

#27 배포 과정에서 경로 수정 사항
  client/package.json
  client/src/App.js
  server/package.json
Labels: ☁️ DEPLOY

#35 전체 이슈 조회 API 구축
  server/.eslintrc.js
  server/main/controllers/issue.js
  server/main/models/index.js
  server/main/models/milestone.js
  server/main/routes/index.js
  server/main/routes/issue.js
  server/main/services/assignment.js
  server/main/services/comment.js
  server/main/services/index.js
  server/main/services/issue-label.js
  server/main/services/issue.js
  server/main/services/label.js
  server/main/services/milestone.js
  server/main/utils/api.js
  server/main/utils/middleware.js
  server/test/api/issue.api.test.js
  server/test/api/user.api.test.js
  server/test/seeds/assignment.js
  server/test/seeds/comment.js
  server/test/seeds/index.js
  server/test/seeds/issue-label.js
  server/test/seeds/issue.js
  server/test/seeds/label.js
  server/test/seeds/milestone.js
  server/test/seeds/user.js
  server/test/services/assignment.test.js
  server/test/services/comment.test.js
  server/test/services/issue-label.test.js
  server/test/services/issue.test.js
  server/test/services/label.test.js
  server/test/services/milestone.test.js
  server/test/services/user.test.js
Labels: 🕹 API, 🛢 BE

#59 이슈 생성 API 구축
  server/main/controllers/issue.js
  server/main/routes/issue.js
  server/main/services/assignment.js
  server/main/services/comment.js
  server/main/services/issue-label.js
  server/main/services/issue.js
  server/test/api/issue.api.test.js
  server/test/seeds/assignment.js
  server/test/services/assignment.test.js
  server/test/services/comment.test.js
  server/test/services/issue-label.test.js
  server/test/services/issue.test.js
Labels: 🕹 API, 🛢 BE

#62 전체 사용자 조회 API 구축
  server/main/controllers/user.js
  server/main/routes/users.js
  server/main/services/user.js
  server/test/api/user.api.test.js
  server/test/services/user.test.js
Labels: 🕹 API, 🛢 BE

#63 [TEST] #21 개별 이슈 상세 정보 조회 service test 코드 작성
  server/main/controllers/issue.js
  server/main/routes/issue.js
  server/main/services/assignment.js
  server/main/services/comment.js
  server/main/services/issue-label.js
  server/main/services/issue.js
  server/test/api/issue.api.test.js
  server/test/api/issue_create.api.test.js
  server/test/api/user.api.test.js
  server/test/seeds/issue.js
  server/test/services/assignment.test.js
  server/test/services/comment.test.js
  server/test/services/issue-label.test.js
  server/test/services/issue.test.js
Labels: 🕹 API, 🛢 BE

#65 [#54] 사이드 바 구현
  client/src/api/user.js
  client/src/components/issue/assignee.js
  client/src/components/issue/modal.js
  client/src/components/issue/sidebarItem.js
  client/src/containers/issue/detail.js
  client/src/containers/issue/sidebar.js
  client/src/containers/issue/write.js
  client/src/store/sidebar/actions.js
  client/src/store/sidebar/index.js
  client/src/store/sidebar/reducer.js
  client/src/styles/svgs/check.js
Labels: ⚛️ REACT, 🌅 FE

#72 전체 라벨 조회 API 구축
  server/main/controllers/label.js
  server/main/routes/index.js
  server/main/routes/labels.js
  server/main/services/label.js
  server/test/api/label.api.test.js
  server/test/services/label.test.js
Labels: 🕹 API, 🛢 BE

#73 라벨 생성 API 구축
  server/main/controllers/label.js
  server/main/routes/labels.js
  server/main/services/label.js
  server/test/api/label.api.test.js
  server/test/services/label.test.js
Labels: 🕹 API, 🛢 BE

#78 [#37] 상세보기 화면 및 사이드 바 기능 구현
  client/src/api/issue.js
  client/src/api/label.js
  client/src/components/issue/comment.js
  client/src/components/issue/input.js
  client/src/components/issue/item.js
  client/src/components/issue/label.js
  client/src/components/issue/sidebarItem.js
  client/src/components/label/index.js
  client/src/containers/issue/commentWrite.js
  client/src/containers/issue/detail.js
  client/src/containers/issue/detailHeader.js
  client/src/containers/issue/filter.js
  client/src/containers/issue/list.js
  client/src/containers/issue/sidebar.js
  client/src/containers/issue/write.js
  client/src/store/input/actions.js
  client/src/store/input/index.js
  client/src/store/input/reducer.js
  client/src/store/sidebar/actions.js
  client/src/store/sidebar/index.js
  client/src/store/sidebar/reducer.js
  client/src/utils/compare.js
Labels: ⚛️ REACT, 🌅 FE

#79 [#70 #71] Comment 생성 및 수정 API 구현
  server/main/controllers/comment.js
  server/main/controllers/issue.js
  server/main/routes/comment.js
  server/main/routes/index.js
  server/main/routes/issue.js
  server/main/routes/label.js
  server/main/routes/user.js
  server/main/services/comment.js
  server/main/services/issue.js
  server/main/services/user.js
  server/main/utils/middleware.js
  server/package-lock.json
  server/test/api/comment.api.test.js
  server/test/api/issue.api.test.js
  server/test/api/label.api.test.js
  server/test/api/response-status.js
  server/test/api/user.api.test.js
  server/test/services/comment.test.js
  server/test/services/label.test.js
Labels: 🕹 API, 🛢 BE

#81 [#80] Issue 제목 수정 API
  server/main/controllers/issue.js
  server/main/routes/issue.js
  server/main/services/issue.js
  server/test/api/issue.api.test.js
  server/test/seeds/issue.js
  server/test/services/issue.test.js
Labels: 🕹 API, 🛢 BE

#83 [#82] 접근 권한에 따른 redirection route
  client/src/App.js
  client/src/utils/accessRoute.js
Labels: ⚛️ REACT, 🌅 FE

#84 [#43] label 기능 구현
  client/src/App.js
  client/src/api/issue.js
  client/src/api/label.js
  client/src/components/issue/comment.js
  client/src/components/issue/item.js
  client/src/components/issue/sidebarItem.js
  client/src/components/label/index.js
  client/src/components/label/item.js
  client/src/containers/issue/commentWrite.js
  client/src/containers/issue/detail.js
  client/src/containers/issue/detailHeader.js
  client/src/containers/issue/search.js
  client/src/containers/issue/sidebar.js
  client/src/containers/label/list.js
  client/src/containers/label/new.js
  client/src/store/index.js
  client/src/store/label/actions.js
  client/src/store/label/index.js
  client/src/store/label/reducer.js
  client/src/store/user/index.js
  client/src/styles/colors.js
  client/src/styles/svgs/comment.js
  client/src/styles/svgs/label.js
  client/src/styles/svgs/random.js
  server/main/controllers/label.js
Labels: ⚛️ REACT, 🌅 FE
